<div class="footer">
    <ul>
        <li>
            <div class="logo">
                <div class="img-wrap">
                    <img class="img" src="../../../assets/imgs/logo.png">
                </div>
                <div class="text">LightFrame</div>
            </div>
            <p class="subtitle">©2025 Фотостудiя LightFrame</p>
        </li>
        <li>
            <h2>Графiк роботи</h2>
            <p class="subtitle">Пн-Нд: 10:00 - 19:00</p>
            <p class="subtitle">Без вихiдних</p>
        </li>
        <li>
            <h2>Контакти</h2>
            <p class="subtitle">+38 000 000 00 00</p>
            <p class="subtitle">+38 000 000 00 00</p>
            <p class="subtitle">lightframe&#64;frame.com</p>
        </li>
    </ul>
</div>