<div class="header">
    <div class="logo" (click)="redirectTo('home')">
        <div class="img-wrap">
            <img class="img" src="../../../assets/imgs/logo.png">
        </div>
        <div class="text">LightFrame</div>
    </div>
    <div class="links-wrap">
        <ul class="links">
            <li class="link" (click)="redirectTo('home')">Головна</li>
            <li class="link" (click)="redirectTo('rentrules')">Оренда</li>
            <li class="link" (click)="redirectTo('rooms')">Кiмнати</li>
            <li class="link" (click)="redirectTo('photographers')">Майстри</li>
            <li class="link" (click)="redirectTo('hire')">Долучитись</li>
            <li class="link" (click)="redirectTo('news')">Новини</li>
        </ul>
    </div>
    <div class="user" *ngIf="user">
        <div class="userinfo" (click)="redirectTo('mynotes')">
            <div class="img-wrap">
                <img class="img" src="{{user.photoUrl}}">
            </div>
            <div class="name">
                {{user.firstName}} {{user.lastName}}
            </div>
        </div>
        <span class="button black" (click)="logOut()">Log Out</span>
    </div>
    <div class="authbuttons" *ngIf="!user">
        <span class="button black" (click)="redirectTo('auth')">Sign in</span>
        <span class="button white" (click)="redirectTo('auth')">Sign up</span>
    </div>
</div>