@import "@shared/variables.scss";
@import "@shared/button.scss";

.header {
    background-color: $mainBackgroundColor;
    color: $mainFontColor;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .img-wrap {
            height: 50px;
            width: 50px;
            min-height: 50px;
            min-width: 50px;
        }

        .text {
            font-size: 1.5rem;
        }
    }

    .links-wrap {
        .links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            font-size: 1.25rem;

            .link {
                cursor: pointer;

                &:hover {
                    color: rgb(255, 0, 0);
                }
            }
        }
    }

    .user {
        display: flex;
        gap: 1rem;

        .userinfo {
            padding: 0.1rem 1.25rem 0.1rem .5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            user-select: none;
            cursor: pointer;
            border-radius: .25rem;

            &:hover {
                background-color: rgb(65, 65, 65);
            }

            .img-wrap {
                height: 50px;
                width: 50px;
                min-height: 50px;
                min-width: 50px;

                .img {
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .name {
                color: rgb(255, 255, 255);
            }
        }
    }

    .authbuttons {
        display: flex;

        .button {
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}