@import "@shared/button.scss";

.wrapper {
    padding: 1rem 30rem;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);

        h2 {
            font-size: 2rem;
            margin: 2rem 0;
        }

        .inputs {
            display: flex;
            flex-direction: column;
            gap: .75rem;
            width: 100%;
            padding: 0 10rem;

            .invalid {
                color: rgb(230, 48, 48);
                font-weight: 600;
                margin: 0;
            }

            .input {
                font-size: 1.25rem;
                outline: none;
                padding: 0.5rem 1.5rem;
            }
        }

        .buttons {
            padding: 2rem;
            display: flex;

            input {
                border: none;
            }
        }
    }
}

@media screen and (width < 1601px) {
    .wrapper {
        padding: 1rem 15rem;
    }
}

@media screen and (width < 1367px) {
    .wrapper {
        padding: 1rem 10rem;
    }
}

@media screen and (width < 1025px) {
    .wrapper {
        padding: 1rem 5rem;

        .form {
            .inputs {
                padding: 0 5rem;
            }
        }
    }
}