<div class="wrapper">
    <form class="form" *ngIf="sign" [formGroup]="regForm" (submit)="signUp()" enctype="multipart/form-data">
        <h2>Sign Up</h2>
        <div class="inputs">
            <p *ngIf="error" class="invalid">Email вже існує</p>
            <input type="text" class="input" placeholder="Email@example.com" formControlName="email">
            <input type="text" class="input" placeholder="+38(000)0000000" formControlName="phone">
            <input type="text" class="input" placeholder="First name" formControlName="firstName">
            <input type="text" class="input" placeholder="Last name" formControlName="lastName">
            <input type="password" class="input" placeholder="Password" formControlName="password">
        </div>
        <div class="buttons">
            <input type="submit" class="button orange" value="Sign Up">
            <span class="button white" (click)="toggleSign()">Already have an account? Sign In</span>
        </div>
    </form>
    <form class="form" *ngIf="!sign" [formGroup]="loginForm" (submit)="signIn()" enctype="multipart/form-data">
        <h2>Sign In</h2>
        <div class="inputs">
            <p *ngIf="error" class="invalid">Невірний email або пароль</p>
            <input type="text" class="input" placeholder="Email@example.com" formControlName="email">
            <input type="password" class="input" placeholder="Password" formControlName="password">
        </div>
        <div class="buttons">
            <input type="submit" class="button orange" value="Sign In">
            <span class="button white" (click)="toggleSign()">Don't have an account? Sign Up!</span>
        </div>
    </form>
</div>