<div class="wrapper">
    <h2>Правила оренди</h2>
    <div class="sub">
        <p class="subtitle">Тут розписано правила оренди, бажаєте перейти до перегляду кiмнат?</p>
        <span class="button orange" (click)="redirectTo('rooms')">Кiмнати</span>
    </div>
    <div class="rules">
        <h2>КОРОТКІ ПРАВИЛА ОРЕНДИ</h2>
        <ol type="1">
            <li>
                Час оренди починається з моменту броні та закінчується за 5 хвилин до закінчення броні.
            </li>
            <li>
                У студії необхідно перевзутися в чисте змінне взуття чи наші капці.
            </li>
            <li>
                У разі пошкодження чи знищення майна студії необхідно відшкодувати повну вартість.
            </li>
            <li>
                Орендуючи фотостудію, ви погоджуєтесь з усіма правилами оренди.
            </li>
        </ol>
        <h2>ОПЛАТА І ПЕРЕДОПЛАТА</h2>
        <ol type="1">
            <li>
                Ви оплачуєте заброньований час оренди студії незалежно від того, запізнилися ви або закінчили зйомку
                раніше, а також у випадку, якщо ви не з'явилися на зйомку, не попередивши заздалегідь про скасування.
            </li>
        </ol>
        <h2>БРОНЮВАННЯ ТА СКАСУВАННЯ </h2>
        <ol type="1">
            <li>
                Ви можете орендувати студію вдень з 10:00 до 19:00 години.
            </li>
            <li>
                Бронювання здійснюється на сайті або за телефоном. Заявка на оренду вважається прийнятою після оплати.
            </li>
            <li>
                Мінімальний термін оренди 1 година.
            </li>
        </ol>
    </div>
</div>